.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* common styles */
.most-bgcolor{
    background-color: #C6E4D6;
}
.common-colr1{
    color: #0E0E0E;
}
.common-btncolr{
    background-color: #006A50;
    color: #FFFFFF;
}

/* Whole Body */
body{
    margin: 24px 100px;
    background-color: #F5F5F5;
}
/* nav bar */
.nav-bar{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
}
/* nav color tolor pore korbo */

/* Banner sec */
.Banner{
    margin-top: 20px;
    padding: 80px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;

}
.content-p{
    font-size: 24px;
    font-weight: 500;
    /* color: #0E0E0E; */
}
.content-h1{
    font-size: 56px;
    font-weight: 700;
}
.b-btn{
    padding: 17px 34px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
    color: white;
}
/* pillars */

/* vision sector */
.Future-vision{
    margin-top: 80px;
}
.vis-head{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
}
.vis-p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.inside-card{
    padding: 24px;
}
.first-card{
    background-color: #5490F533;
    width: 410px;
    height: 325px;
    border-radius: 16px;
}
.secnd-card{
    background-color: #C6E4D6;
    width: 410px;
    height: 325px;
    border-radius: 16px;
}
.third-card{
    background-color: #F7EBCF;
    width: 410px;
    height: 325px;
    border-radius: 16px;
}
.vision-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards-text{
    font-size: 20px;
    font-weight: 700;
    padding: 24px 0px 12px 0px;
    color: #0E0E0ECC;
}
.cards-p{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
}
.Fcards-btn{
    background-color: #5490F5;
    padding: 11px 20px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
    color: white;
}
.Scards-btn{
    background-color: #09A15C;
    padding: 11px 20px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
    color: white;
}
.Tcards-btn{
    background-color: #FFC239;
    padding: 11px 20px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
    color: white;
}

/* recent news */
.recent h1{
    font-size: 40px;
    font-weight: 700;
}
.recent{
    margin-top: 80px;
}

.recent p{
    font-size: 16px;
    font-weight: 400;
}
.recent-img1 img{
    width: 408px;
    border-radius: 24px;
}
.recent-content{
    width: 744px;
    /* margin-left: 20px; */
}
.recent-content h1{
    font-size: 32px;
    font-weight: 700;
}
.recent-content p{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.recent-content button{
    width: 139px;
    height: 48px;
    border-radius: 8px;
    border-style: none;
    margin-top: 42px;
    color: white;
}
.recent-first{
    padding: 48px 56px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}
.recent-second{
    margin-top: 20px;
    padding: 48px 56px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}

/* Donation */
.donate{
    margin-top: 80px;
}
.donate h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 23px;
}
.donate p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 32px;

}

.Donate-card div{
    background-color: #FFFFFF;
    width: 200px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.Donate-card div h3{
    font-size: 35px;
    font-weight: 700;
    color: #0E0E0ECC
}
.Donate-card{
    display: flex;
    justify-content: space-around;
    padding: 0 104px;
}
.Donate-card .col{
    background-color: #C6E4D6;
}
.donate-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.amout-form input{
    margin-top: 20px;
    width: 1032px;;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    border-style: none;
    text-align: center;
}
.donate-form button{
    width: 151px;
    height: 56px;
    margin-top: 10px;
    border-radius: 8px;
}
/* News Letter */
.newsletter{
    margin-top: 50px;
}
.n-cont h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}
.n-cont p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 14px;
}
.news-cont{
    padding: 40px 100px;
    border-radius: 20px;
}
.email-form input{
    width: 600px;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    border-style: none;
}
.formSec{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    align-items: center;
    /* gap: 20px; */
    /* padding-left: 60px; */
}
.form-btn{
    width: 150px;
    border-radius: 0px 8px 8px 0px;
    padding: 11px;
    color: white;
    border-style: none;
}
.promise{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}