.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* common styles */
.most-bgcolor{
    background-color: #C6E4D6;
}
.common-colr1{
    color: #0E0E0E;
}
.common-btncolr{
    background-color: #006A50;
}

/* Whole Body */
body{
    margin: 24px 100px;
    background-color: #F5F5F5;
}
/* nav bar */
.nav-bar{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
}
/* nav color tolor pore korbo */

/* Banner sec */
.Banner{
    margin-top: 20px;
    padding: 80px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;

}
.content-p{
    font-size: 24px;
    font-weight: 500;
    /* color: #0E0E0E; */
}
.content-h1{
    font-size: 56px;
    font-weight: 700;
}
.b-btn{
    padding: 17px 34px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
}
/* pillars */

/* vision sector */
.Future-vision{
    margin-top: 80px;
}
.vis-head{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
}
.vis-p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.inside-card{
    padding: 24px;
}
.first-card{
    background-color: #5490F533;
    width: 410px;
    height: 325px;
    border-radius: 16px;
}
.secnd-card{
    background-color: #C6E4D6;
    width: 410px;
    height: 325px;
    border-radius: 16px;
}
.third-card{
    background-color: #F7EBCF;
    width: 410px;
    height: 325px;
    border-radius: 16px;
}
.vision-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards-text{
    font-size: 20px;
    font-weight: 700;
    padding: 24px 0px 12px 0px;
    color: #0E0E0ECC;
}
.cards-p{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
}
.Fcards-btn{
    background-color: #5490F5;
    padding: 11px 20px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
}
.Scards-btn{
    background-color: #09A15C;
    padding: 11px 20px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
}
.Tcards-btn{
    background-color: #FFC239;
    padding: 11px 20px;
    margin-top: 24px;
    border-style: none;
    border-radius: 8px;
}

/* recent news */
.recent h1{
    font-size: 40px;
    font-weight: 700;
}
.recent{
    margin-top: 80px;
}

.recent p{
    font-size: 16px;
    font-weight: 400;
}
.recent-img1 img{
    width: 408px;
    border-radius: 24px;
}
.recent-content{
    width: 744px;
    /* margin-left: 20px; */
}
.recent-content h1{
    font-size: 32px;
    font-weight: 700;
}
.recent-content p{
    font-size: 16px;
    font-weight: 400;
}
.recent-content button{
    /* width: 139px;
    height: 48px; */
    border-radius: 8px;
    border-style: none;
}
.recent-first{
    padding: 48px 56px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 10px 0px 20px; */
}